@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* // Alternative font */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

[data-theme="light"] {
  --bg-color: white;
  --text-color: black;
  --placeholder-color: #949393;
  --button-background-color: #c8c8c8;
  --button-hover-color: #d8d6d6;
  --button-text-color: #aaaaaa;
  --container-background-color: rgba(255, 255, 255, 0.6);
  --input-background-color: rgba(255, 255, 255, 0.5);
  --forecast-border-color: rgba(0, 0, 0, 0.2);
}

[data-theme="dark"] {
  --bg-color: black;
  --text-color: white;
  --placeholder-color: #949393;
  --button-background-color: black;
  --button-hover-color: rgb(37, 36, 36);
  --button-text-color: #949393;
  --container-background-color: rgba(0, 0, 0, 0.7);
  --input-background-color: rgba(255, 255, 255, 0.1);
  --forecast-border-color: rgba(255, 255, 255, 0.2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Outfit", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

#root {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  color: var(--text-color);
  align-items: center;
  display: flex;
}

#root:before {
  content: "";
  background: url("./assets/app_bg.jpg") no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 0.75rem;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 700px;
  width: 100%;
  position: relative;
  margin: auto;
  padding: 2rem 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
  border-radius: 0;
  align-self: center;
  background: var(--container-background-color);
  @media only screen and (min-width: 600px) {
    border-radius: 1.5rem;
    padding: 2rem;
  }
}

.loading {
  margin: 0 auto;
  i {
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    color: #fff;
    font-size: 3rem;
    @media only screen and (min-width: 600px) {
      font-size: 4rem;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
}

.search-input {
  padding: 0.5rem 1.75rem;
  font-size: 1.1rem;
  border-radius: 25px 0 0 25px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: var(--input-background-color);
  color: var(--text-color);
  font-family: inherit;
  height: 40px;
  max-width: 250px;
}

.search-input::placeholder {
  color: var(--placeholder-color);
  font-size: 1.1rem;
}

.search-input:focus {
  border-color: transparent;
}

.search-input:focus-visible {
  outline: none;
}

.search-btn {
  padding: 0.5rem 1.5rem;
  font-size: 0.9rem;
  color: var(--text-color);
  background-color: var(--button-background-color);
  border: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 40px;
  font-weight: 600;
  font-family: "Outfit", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  border-radius: 0 25px 25px 0;
  &:hover {
    background-color: var(--button-hover-color);
  }
}

.header {
  text-align: center;
}

.city {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.temperatureContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.temperature {
  font-size: 6rem;
  font-weight: bold;
  margin: 0 2rem 0 0;
}

.temperatureUnit {
  font-size: 1.2rem;
  font-weight: 900;
  span {
    font-weight: 400;
  }
}

.condition-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.condition {
  font-size: 1.25rem;
  position: absolute;
  right: -1rem;
  transform: rotate(-90deg);
  font-weight: 600;
  letter-spacing: 0.1rem;
  display: none;
  @media only screen and (min-width: 420px) {
    display: block;
  }
}

.weather-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  text-align: center;
}

.weather-details-value {
  font-weight: bold;
  margin-top: 0.5rem;
}

.forecast {
  border-top: 1px solid var(--forecast-border-color);
  padding-top: 1.75rem;
}

.forecast-header {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  @media only screen and (min-width: 600px) {
    margin-bottom: 2rem;
  }
}

.forecast-days {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @media only screen and (min-width: 600px) {
    flex-direction: row;
  }
}

.forecast-day {
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  @media only screen and (min-width: 600px) {
    border: none;
    display: block;
  }
}

.forecast-temp,
.forecast-condition {
  font-size: 0.875rem;
}
